/* Text */

.text-center{
    text-align: center;
}

.headig-small{
    font-size: 1.25rem;
}

.headig-medium{
    font-size: 1.5rem;
}

.headig-big{
    font-size: 1.75rem;
}

/* Colors */

.bg-dark-blue{
    background: indianred;
}

.bg-light-blue{
    background: #336ea2;
}

/*  Container */

.container {
    max-width: 1100px;
    margin: 0 auto;
}